* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0F2027;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
}

#menu {
    color: #0F2027;
    cursor: pointer;
    float: right;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    align-items: center;
    position: absolute;
    z-index: 100;
    margin-top: 5px;
}

.fullbox {
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    left: 100%;
    background: rgba(134, 127, 188, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(134, 127, 188, 0.43);
    /* From https://css.glass */
    background: rgba(134, 127, 188, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(134, 127, 188, 0.43);



    z-index: 999;
    transition: all 0.5s ease;
}

.closes {
    position: absolute;
    font-size: 30px;
    right: 0;
    cursor: pointer;
    color: #0F2027;
}

.logo {
    color: #fff;
    display: flex;
    align-items: baseline;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

nav {
    position: absolute;
    left: 10%;
    top: 5%;
    list-style: none;
}

nav>ul>li {
    position: relative;
    list-style: none;
}

nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    display: block;
    background: rgba(13, 94, 62, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(13, 94, 62, 0.43);
    width: 150px;
    padding: 10px;
    text-align: center;
}
nav a:hover{
    /* From https://css.glass */
background: rgba(147, 164, 157, 0.37);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
border: 1px solid rgba(147, 164, 157, 0.43);
}
nav ul li ul li{
    list-style: none;
}
nav ul li ul{
    position: absolute;
    left: 150px;
    top: 0;
    display: none;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    background: rgba(13, 94, 62, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(13, 94, 62, 0.43);
    width: 150px;
    padding: 10px;
    text-align: center;
}
header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 13px 8%;
    transition: all 0.5s ease;
}
header::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

header::after {
    content: '';
    top: 0;
    left: -100%;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: all 0.5s ease;
}

header:hover::after {
    left: 100%;
}

header.sticky {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 15%;
}
.menu{
    color: #fff;
    display: none;
}
.navbar a:is(:link, :active, :visited) {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Asiatech;
    padding: 6px;
    border-radius: 6px;
    transition: all 0.5s ease;
    text-decoration: none;
}

.navbar a:is(:link, :active, :visited).active {
    /* From https://css.glass */
    background: rgba(66, 59, 59, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(66, 59, 59, 0.66);
}

.navbar a:hover {
    /* From https://css.glass */
    background: rgba(66, 59, 59, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(66, 59, 59, 0.66);
}
.banner{
    background-image: url(./pic/toram.jpg);
    width: 100%;
    height:600px;
    background-size: cover;
}
.banner .txt{
    position: absolute;
    top: 40%;
    left: 8%;
}
.txt h1{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 5rem;
    background-image: url(./pic/back.png);
    -webkit-background-clip: text;
    background-position: 0 0 ;
    animation: back 20s linear infinite;
}
.txt p{
    color: #fff;
    font-size: 25px;
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}
.bio{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.46);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.bio img{
    width: 300px;
    height: 200px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    transition: all 0.3s ease;
}
.bio img:hover{
    scale: 1.1;
}
.box{
    text-align: center;
}
.players{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
.players img{
    width:250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.35s ease;
    filter: brightness(0.8);
}
.img{
    text-align: center;
    color: #fff;
}
.img h3{
    opacity: 0;
    transition: all 0.2s ease;
}
.img img:hover{
    filter: brightness(1.3);
}
.img:hover h3{
    opacity: 1;
}
#slider-container {
    width: 80%;
    overflow: hidden;
    margin:40px auto;
    position: relative;
  }

  #slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }

  .slide {
    width: 250px;
    height: auto;
  }

  #prev-button,
  #next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  #prev-button {
    left: 10px;
  }

  #next-button {
    right: 10px;
  }
  .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .boxes{
    width: 230px;
    height: 250px;
    background-color: darkgreen;
    border-radius: 10px;
    color: #fff;
    position: relative;
    transition: all 0.6 ease;
  }
  .boxes img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    text-align: center;
    left:40px;
    transition: all 0.6 ease;
  }
  .boxes p{
    margin-top: 160px;
    transition: all 0.6 ease;
  }
  .boxes:hover img,
  .boxes:hover p{
    scale: 1.1;
    color: #0F2027;
  }
  .footer {
    background-color: #f2f2f2;
    padding: 20px;
    color: #555;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-about,
.footer-links,
.footer-contact {
    margin-bottom: 20px;
}

.footer-about h3,
.footer-links h3,
.footer-contact h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color: #555;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
    text-align: center;
}
.footer-social {
    margin-bottom: 20px;
}

.footer-social h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
    list-style: none;
    color: #0F2027;
}

.footer-social ul li a {
    color: #555;
    text-decoration: none;
    font-size: 24px;
}

.footer-social ul li a:hover {
    color: #333;
}



@media (max-width:768px){
    nav ul li a,
    nav ul li ul li a{
        width: 150px;
    }
    nav ul li ul {
        left: 150px;
    }
    .menu {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: all 0.5s ease;
        left: 100%;
        background: rgba(17, 4, 4, 0.31);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13.1px);
        -webkit-backdrop-filter: blur(13.1px);
        border: 1px solid rgba(17, 4, 4, 0.22);
    }
    .slide{
        width: 100%;
    }
}